<div class="col-md-12 row">
  <div class="col-md-3"  *ngFor='let i of cardList'>
      <mat-card class="example-card" (click)="testclick(i.link)">
          <mat-card-header>
            <div mat-card-avatar >
              <mat-icon>
                <span class="material-icons-round">{{i.icon}}
                </span></mat-icon>

            </div>
            <mat-card-title>{{i.cardTitle}}</mat-card-title>
            <mat-card-subtitle>{{i.cardSubTitle}}</mat-card-subtitle>
          </mat-card-header>
        
          <mat-card-content>
            <!-- <p>
              Karur Vysya Bank is a Scheduled Commercial Bank in India. It has completed 100 years of operation and is one of the leading banks in India, headquartered in Karur in Tamil Nadu. It was set up in 1916 by M. A. Venkatarama Chettiar and Athi Krishna Chettiar.
            </p> -->
          </mat-card-content>
        
      </mat-card>
  
  
  </div>


</div>